@charset "utf-8";
/* CSS Document */   
body {
	font-size:12px
}
.b {
	border:solid 1px #ccc;background-color:#eee;line-height:18px;font-size:12px	
}
.t {
	border:solid 1px #ccc;line-height:18px;font-size:12px;padding-left:3px
}
fieldset{
	padding:10px;width:285px;float:left
}
#p{
	display:none;border:1px #ccc solid; width:248px; background-color:#eee;padding:6px 12px 6px 12px;
margin-left:2px
}
