 body{                      /*全局控制*/
 	font-size:13px; 
 	font-family:"微软雅黑";
 	color: #000;
 	}                  
 body,form,input,h1,p{    /*重置浏览器的默认样式*/
 	padding:0; 
 	margin:0; 
 	border:0; 
 	}      
#bg{	
	width:100%;
	height:750px;	
	background:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0) 30%,rgba(255,255,255,1)),url(../img/register_bg.jpg);/*渐变背景*/
	background-size:cover;   /*背景铺满*/	
	position: relative;      /*相对定位*/	
	}
form{
	width:450px; 
	height:600px; 
	position:absolute;                    /*设置绝对定位*/
	right:8%;
	top:4%;
    }
h2{  
	width:400px;                           /*控制标题*/
	text-align:center;
	margin:25px 0; 
	font-weight: 600;
    }     
p{margin-top:20px;}

p span{
	width:75px; 
	display:inline-block;                /*将行内元素转换为内联元素*/
	text-align:right;                    /*右侧显示*/
	padding-right:10px;                   
    }
p input{
	width:200px;                                      
    height:18px;                                 
    border:1px solid #d4cdba;
    padding:2px;                           /*设置输入框与输入内容之间离开2px距离*/
    }

.btn input{                                /*设置两个按钮的宽高、边距及边框样式*/
	width:70px; 
	height:25px;
	border: 1px solid #AAA;
    background:#DDD;               /*按钮背景颜色*/
    margin-top:15px; 
    margin-left:80px; 
    border-radius:3px;             /*设置圆角边框*/
    font-size:13px;
    font-family:"微软雅黑";
    color:#111;                 /*按钮上文本颜色*/
    }		

