@charset "utf-8";
*{                                  /*针对所有的HTML元素定义样式*/
	margin:0;                       /*外边距为0px*/ 
    padding:0;                       /*内边距为0px*/ 
    box-sizing: border-box;          /*盒子的宽度值和高度值包含元素的内边距和边框*/ 
	}
a{                                  /*设置超链接的样式*/
	text-decoration: none;          /*无修饰*/
}
body{					/*设置页面整体样式*/
	width:1050px;            /*宽度1050px*/
	margin:0 auto;			/*页面自动居中对齐*/	
	font-family: "微软雅黑";  /*字体为"微软雅黑"*/
	font-size:13px;			/*文字大小为12px*/
	color:#333;			/*文字颜色为灰色*/
	position:relative			/*相对定位*/
}
h3{                          /*h3标题的样式*/                   
	font-size:16px;
	color: #545861;      	/*文字颜色为浅灰色*/
	font-weight: 500;       /*文字粗细500*/
}
/*首页中部-主体部分样式开始*/		
#main{	
	clear: both;                         /*清除两侧浮动*/
	
}
#main .main_left,#main .main_center,#main .main_right{ /*定义主体部分的左、中、右三块*/
	padding:0px 20px;                                  /*内边距上、下为0px,左、右为20px*/
	margin-top:20px ;                                  /*上外边距20px*/
	font-family: "微软雅黑";	                          /*字体为"微软雅黑"*/
	font-size: 13px;	                              /*文字大小13px*/
	position: relative;                               /*相对定位*/
}
#main h3{
	font-size:16px;                            
	color: #545861;
	font-weight: 500;                             /*文字粗细500*/
	margin-bottom:12px ;                          /*下外边距20px*/
}

/*主体左侧样式开始*/
#main .main_left{
	width:307px;
	padding-left: 0px;                       /*左侧内边距0px*/
	float: left;
}

#main .main_left video{
	width:285px;
	height: 200px;
	background-color:#CCCCCC;
	border: 1px solid #BBBBBB;
}
/*首页联系方式盒子样式开始*/
#main .main_left .lianxi{   
	width:285px;
	height: auto;
	border:1px solid #DDDDDD;
	border-radius: 5px;
	margin-top: 15px;
	padding: 0 15px;	
}
#main .main_left .lianxi p{
	font-size: 13px;
	height:50px;
	line-height: 20px;	
	margin-top:8px; 
}
#main .main_left .lianxi img{
	width:43px;
	height:43px;
	float: left;
	margin-right: 15px ;
}
/*首页联系方式盒子样式结束*/
/*主体左侧样式结束*/

/*主体中部样式开始--企业新闻样式*/
#main .main_center{	
	width:390px;
	border-left:3px solid #DDD ;         /*左边框3px浅灰色实线*/
	border-right:3px solid #DDD ;         /*右边框3px浅灰色实线*/  
	margin-bottom: 10px;                  /*下外边距10px*/
	float: left;
}
#main .main_center ul li{                /*列表项的样式*/
	border-top:1px dotted #999999;    /*上边框1px灰色点线*/    
	padding:5px 0px;                   /*上、右、下、左的内边距依次为5px,0px,5px,0px*/
	white-space: nowrap;       /*强制文本不能换行*/
	overflow: hidden;          /*隐藏溢出文本*/
	text-overflow: ellipsis;   /*溢出文本被修剪，显示省略号*/
	line-height: 19px;         /*行高19px*/ 
}
#main .main_center ul li:before{
	content:url(../img/triangle-icon-blue.jpg);	    /*在列表项内容前插入三角图标*/
	padding-right:4px;                                     /*右内边距4px*/   
}
#main .main_center .date{
	color:#999999;	
	font-size: 13px;
	display: block;                          /*块级元素*/              
	margin: 0 0 10px 10px;                   /*上、右、下、左的外边距依次为0px,0px,10px,10px*/
}
/*主体中部样式结束*/

/*主体右侧样式开始*/
#main .main_right{
	width:350px;
	padding-right:0px ;               /*右内边距0px*/    
	float: right;             
}
#main .main_right .imgbox{     /*客户案例的盒子样式*/
	width:325px;
	height:200px;
	position: relative;
    overflow: hidden;
}
#main .main_right .imgbox img{      /*客户案例的图片样式*/
	width:325px;
	height:200px;
}
#main .main_right ul li{
	line-height: 27px;               /*行高27px*/         
	margin-left:20px ;               /*左内边距20px*/   
}

/*主体部分无序列表中超链接样式定义开始*/
#main ul a{
	text-decoration: none;          /*文本无修饰*/
	color:#333333;
}
#main ul a:link,a:visited{            /**/
	color:#333333;	
}
#main ul a:hover{
	color:red;
	text-decoration: underline;     /*加下划线*/
}
/*主体部分无序列表中超链接样式定义结束*/
#main .more                        /*定义MORE的样式*/
{	
	position: absolute;           /*绝对定位*/
	top:10px;                     /*距顶部10px*/  
	right: 10px;                  /*离右边10px*/
	text-decoration: none;        /*无修饰*/
	color: #0091D8;	
}
/*首页中部-主体部分样式结束*/	