body{   
	font-size:12px;
}
fieldset{  
	padding:lOpx;  
	width:285px;  
	float:left;
}
#pStatus{   
	display:none;   
	border:lpx #ccc solid;   
	width:158px;   
	background-color:#eee;   
	padding:6px 12px 6px 12px;   
	margin-left:2px;
}
